.sign-in{
    width: 380px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width:800px) {
        width: 90vw;
    }

    .title{
        margin: 10px 0;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:800px) {
            flex-direction: column;
            // width: 100vw;
            
        }
    }
}