.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
    @media screen and (max-width:800px) {
      width: 90vw;
      // width: 250px;
  }
  
    .title {
      margin: 10px 0;
    }
  }
  